.radiobutt {
    -fx-text-fill: #D34C6E;
    -fx-font-family: "Glacial Indifference";
    -fx-font-size: 25px;
}

.prompt {
    -fx-text-fill: #140005;
    -fx-font-family: "Glacial Indifference";
    -fx-font-size: 35px;
    -fx-wrap-text: true;
}

.miscbutt {
    -fx-text-fill: #F4E1E6;
    -fx-font-family: "Glacial Indifference";
    -fx-font-size: 35px;
    -fx-background-color: #140005;
    -fx-background-radius: 0;
}

.vbox {
    -fx-background-color: #F4E1E6;
}  

.spacer {
    -fx-font-size: 35px;
}

.boardbutt {
    -fx-background-color: #D34C6E;
    -fx-background-radius: 0;
}

.imgbutt {
     -fx-background-color: #F4E1E6;
     -fx-background-radius: 0;
}
